sagemaker==2.218.0
pypdfium2==4.24.0
httplib2==0.19.0
langchain==0.0.340
requests==2.31.0
pandas==1.5.3
boto3==1.34.0
botocore==1.34.0
opensearch-py==2.4.2
numexpr==2.8.0
packaging>=22.0
docutils
requests
requests-auth-aws-sigv4
jsonlines
ray==2.10.0